
.root {
    -fx-alignment: "center";
}
#topBoxInfo {
    -fx-alignment: "center";
}
.label{
    -fx-background-color: #7db8df;
    -fx-background-radius: 5px;
    -fx-opacity: 0.8;
    -fx-font-size: 13px;
}
#topBoxInfo{
    -fx-padding: 10px;
    -fx-alignment: center_left;
}
#topHbox{
    -fx-padding: 10px;
}
#settingsImage{
}
.button{

}
.scroll-pane{
    -fx-background-color: transparent;
}

.viewport{
    -fx-background-color: transparent;
}
#messageList{
    -fx-tile-alignment: center;
}
#messagetextId{
    -fx-background-color: lightblue;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-opacity: 0.8;
}
#messageArea{
}
#messageBox{
    -fx-background-color: lightblue;
    -fx-background-radius: 10px;
    -fx-opacity: 0.8;
    -fx-padding: 5px;
}

#messageLabel{
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-opacity: 0.8;
    -fx-font-size: 13px;

}
#currentTopic{
    -fx-font-size: 14px;
    -fx-font-style: Italic;
    -fx-text-fill: white;
}
#connectionStatus{
}
#outgoingMessage {
    -fx-pref-height: 50px;
    -fx-font-size: 14px;
    -fx-background-color: #bdbdbd;
    -fx-background-radius: 10px;
    -fx-opacity: 0.8;
}


.HBox{
    -fx-padding: 5px;
}
#sendImage{
    -fx-background-image: url("/attachment.png");
    -fx-background-size: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(3, 104, 3, 0.8);
    -fx-alignment: center;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;

}
#sendButton {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-alignment: center;
    -fx-background-radius: 10px;
    -fx-background-color: #036803;
    -fx-opacity: 0.8;
    -fx-text-fill: white;
    -fx-font-size: 13px;

}
