
.root {
    -fx-alignment: "center";
    -fx-background-image: url("/natureBackground.jpg");
    -fx-background-size: cover;
    -fx-background-color: #616060;
}
#topBoxInfo {
    -fx-alignment: "center";
}
.label{
    -fx-background-color: #7db8df;
    -fx-background-radius: 5px;
    -fx-opacity: 0.8;
    -fx-font-size: 20px;
    -fx-alignment: center_left;
}
#topBoxInfo{
    -fx-padding: 10px;
    -fx-alignment: center_left;
}
.button{

}

.scroll-pane{
    -fx-background-color: transparent;
}
.viewport{
    -fx-background-color: transparent;
}
#messageList{
    -fx-tile-alignment: center;
}
#messageRecived{
    -fx-alignment: CENTER_LEFT;
}
#messageSent{
    -fx-alignment: CENTER_RIGHT;
}

#outgoingMessage {
    -fx-pref-height: 50px;
    -fx-font-size: 14px;
    -fx-background-color: #bdbdbd;
    -fx-background-radius: 10px;
    -fx-opacity: 0.8;
}
.HBox{
    -fx-padding: 5px;
}
#sendButton {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-alignment: center;
    -fx-background-radius: 10px;
    -fx-background-color: #036803;
    -fx-opacity: 0.8;
    -fx-text-fill: white;
    -fx-font-size: 13px;

}
